.snackbar-container {
    overflow: hidden;
    padding: 16px;
    text-align: center;
    background-color: green;
    color: white;
    border-radius: 12px;
    .data-list {
        margin-bottom: 4px;
        font-family: medium;
        &:last-child {
            margin-bottom: 0;
        }

    }
}
.error{
    background-color: red;

}