.parent-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 60px 1fr;
    gap: 0.5rem;

    .heading-container {
        width: 100%;
        line-height: 60px;
        color: var(--primary-color);
        font-size: 1.5rem;
    }

    .data-container {
        width: 100%;
        overflow: auto;
    }
}